In [1]:
import pandas as pd
import plotly.plotly as py
%load_ext sql
%sql sqlite://
%config SqlMagic.feedback = False #to turn off sqlite reports

In [42]:
## Load csv files into SQL via pandas #
 # All raw data save to table ALLPOST ##

location_list=["Toronto_ON", "Montreal_QC", "Vancouver_BC", "Waterloo_ON", "New-York_NY", "Boston_MA", "Washington_DC", 
               "Seattle_WA", "San-Francisco_CA", "Austin_TX", "San-Jose_CA", "Raleigh_NC", "Houston_TX", "Portland_OR", 
               "Atlanta_GA", "San-Diego_CA", "Denver_CO", "Minneapolis_MN", "Saint-Louis_MO"]
%sql DROP TABLE IF EXISTS ALLPOST
%sql CREATE TABLE ALLPOST (keyword varchar, location varchar, link varchar, post_text varchar)
for location in location_list:
    df = pd.read_csv("D:\monster_scrapingdata\softdev_" + location + "_20170116.csv", sep='\t', header=0, index_col=0)
    %sql DROP TABLE IF EXISTS df
    %sql PERSIST df
    %sql INSERT INTO ALLPOST SELECT keyword, location, link, post_text FROM df

In [58]:
techlist=["javascript","sql", 'java', 'c#', 'php', 'c++', 'c', 'node.js', 'angularjs', 'ruby', 'rails', 'python',
          'delphi', 'typescript', 'bash', 'groovy', 'powershell', 'html', 'css', 'django','postgresql', 'jquery', 'ios', 'git', 
          'mysql', '.net', 'arrays', 'swift', 'objective-c', 'string', 'json', 'sql server', 'linux', 'regex', 'asp.net', 
         'react', 'spark', 'cassandra', 'raspberry pi', 'wordpress', 'mongodb', 'redis', 'vba', 'hadoop', 'clojure',"visual basic",
          'f#', 'sharepoint', 'rust', 'scala', 'cordova', 'perl', 'salesforce', 'matlab', 'dart', 'coffeescript',
         'haskell', 'windows phone', 'aws', 'gae', 'azure', 'lamp', "lua", "drupal", "elixir", "fortran", "erlang", "pl/sql", 
         "elasticsearch", "coldfusion", "kotlin", "smalltalk", "abap", "elm", "r", "cloud", "sas", "d3", "spss",
         "excel", "tableau", "pig", "mapreduce", "hive", "shark", "oozie", "zookeeper", "flume", "mahout", "android"]

In [33]:
## Complimentary Skills for each location ##
df_to = pd.read_csv("D:\monster_scrapingdata\softdev_Toronto_ON_20170116.csv", sep='\t', header=0, index_col=0)
%sql DROP TABLE IF EXISTS df_to
%sql PERSIST df_to

'Persisted df_to'

In [59]:
from itertools import permutations
allperms = list(permutations(techlist, 2))

In [68]:
l=[]
for index, (skill1, skill2) in enumerate(allperms):
    l.append((skill1, skill2, df_to[df_to["post_text"].str.contains(",%s," % skill1, regex = False) | df_to["post_text"].str.contains(",%s," % skill2, regex = False)].shape[0]))
    if index % 1000 == 0:
        print("-")

-
-
-
-
-
-
-
-
-

In [69]:
comp_skills = pd.DataFrame(l, columns = ["skill", "complementary_skill", "all_posting"])

In [70]:
comp_skills.head()

        skill complementary_skill  all_posting
0  javascript                 sql          403
1  javascript                java          523
2  javascript                  c#          261
3  javascript                 php          273
4  javascript                 c++          316

In [74]:
comp_skills.sort_values("all_posting", ascending= False).groupby("skill").head(5).sort_values(["skill", "all_posting"], ascending = [True, False])

              skill complementary_skill  all_posting
2227           .net                java          522
2299           .net               cloud          386
2225           .net          javascript          372
2226           .net                 sql          351
2231           .net                   c          330
6410           abap                java          400
6408           abap          javascript          262
6414           abap                   c          258
6409           abap                 sql          248
6482           abap               cloud          226
7923        android                java          476
7922        android                 sql          382
7927        android                   c          373
7921        android          javascript          371
7996        android               cloud          352
714       angularjs                java          458
718       angularjs                   c          353
713       angularjs                 sql          326
786       angularjs               cloud          321
712       angularjs          javascript          313
2316         arrays                java          399
2314         arrays          javascript          261
2320         arrays                   c          255
2315         arrays                 sql          248
2388         arrays               cloud          221
3028        asp.net                java          446
3026        asp.net          javascript          278
3032        asp.net                   c          263
3100        asp.net               cloud          260
3027        asp.net                 sql          259
...             ...                 ...          ...
1159     typescript                java          408
1157     typescript          javascript          262
1163     typescript                   c          262
1158     typescript                 sql          256
1231     typescript               cloud          231
3740            vba                java          399
3738            vba          javascript          262
3744            vba                   c          260
3739            vba                 sql          249
3812            vba               cloud          222
4007   visual basic                java          399
4005   visual basic          javascript          261
4011   visual basic                   c          255
4006   visual basic                 sql          248
4079   visual basic               cloud          221
5075  windows phone                java          399
5073  windows phone          javascript          261
5079  windows phone                   c          255
5074  windows phone                 sql          248
5147  windows phone               cloud          221
3473      wordpress                java          407
3471      wordpress          javascript          263
3477      wordpress                   c          263
3472      wordpress                 sql          255
3545      wordpress               cloud          229
7656      zookeeper                java          399
7654      zookeeper          javascript          263
7660      zookeeper                   c          258
7655      zookeeper                 sql          250
7729      zookeeper               cloud          221

[450 rows x 3 columns]

In [44]:
# ranking skills#
def ranking(techlist, location, citycount):
    comskill=[]
    for tech in techlist:
        acount=%sql SELECT Count(*) FROM ALLPOST WHERE location = :location AND (post_text LIKE "%,$tech,%" OR post_text LIKE "$tech,%" OR post_text LIKE "%,$tech")
        comskill.append((location, tech, acount[0][0], acount[0][0]/citycount)) 
    return sorted(comskill, key=lambda x: x[2], reverse= True)

In [45]:
complist=[]
for location in location_list:
    techlistcp=techlist
    citycount=%sql SELECT Count(*) FROM ALLPOST WHERE location = :location
    for i in range(5):
        coms=ranking(techlistcp, location, citycount[0][0]) # call ranking func #
        complist.append(coms[0])
        ele= coms[0][1]
        techlistcp.remove(ele)
        %sql delete from ALLPOST WHERE location = :location AND post_text LIKE "%,$ele,%"
    print ("done" + location)

doneToronto_ON
doneMontreal_QC
doneVancouver_BC
doneWaterloo_ON
doneNew-York_NY
doneBoston_MA
doneWashington_DC
doneSeattle_WA
doneSan-Francisco_CA
doneAustin_TX
doneSan-Jose_CA
doneRaleigh_NC
doneHouston_TX
donePortland_OR
doneAtlanta_GA
doneSan-Diego_CA
doneDenver_CO
doneMinneapolis_MN

IndexError: list index out of range

In [46]:
complist

[('Toronto_ON', 'java', 399, 0.399),
 ('Toronto_ON', 'c', 181, 0.181),
 ('Toronto_ON', 'javascript', 75, 0.075),
 ('Toronto_ON', 'cloud', 54, 0.054),
 ('Toronto_ON', 'excel', 48, 0.048),
 ('Montreal_QC', '.net', 346, 0.346),
 ('Montreal_QC', 'sql', 150, 0.15),
 ('Montreal_QC', 'linux', 117, 0.117),
 ('Montreal_QC', 'c++', 76, 0.076),
 ('Montreal_QC', 'html', 41, 0.041),
 ('Vancouver_BC', 'ruby', 181, 0.181),
 ('Vancouver_BC', 'python', 105, 0.105),
 ('Vancouver_BC', 'css', 65, 0.065),
 ('Vancouver_BC', 'r', 52, 0.052),
 ('Vancouver_BC', 'asp.net', 26, 0.026),
 ('Waterloo_ON', 'android', 91, 0.15716753022452504),
 ('Waterloo_ON', 'git', 32, 0.055267702936096716),
 ('Waterloo_ON', 'jquery', 21, 0.03626943005181347),
 ('Waterloo_ON', 'php', 16, 0.027633851468048358),
 ('Waterloo_ON', 'hadoop', 14, 0.024179620034542316),
 ('New-York_NY', 'aws', 76, 0.07778915046059365),
 ('New-York_NY', 'mysql', 43, 0.044012282497441144),
 ('New-York_NY', 'ios', 33, 0.033776867963152504),
 ('New-York_NY', 'perl', 30, 0.030706243602865915),
 ('New-York_NY', 'sas', 28, 0.028659160696008188),
 ('Boston_MA', 'json', 32, 0.03282051282051282),
 ('Boston_MA', 'angularjs', 29, 0.029743589743589743),
 ('Boston_MA', 'spark', 25, 0.02564102564102564),
 ('Boston_MA', 'salesforce', 24, 0.024615384615384615),
 ('Boston_MA', 'react', 22, 0.022564102564102566),
 ('Washington_DC', 'sharepoint', 78, 0.07959183673469387),
 ('Washington_DC', 'bash', 33, 0.0336734693877551),
 ('Washington_DC', 'drupal', 31, 0.03163265306122449),
 ('Washington_DC', 'node.js', 22, 0.022448979591836733),
 ('Washington_DC', 'powershell', 19, 0.019387755102040816),
 ('Seattle_WA', 'redis', 36, 0.03677221654749745),
 ('Seattle_WA', 'rails', 29, 0.0296220633299285),
 ('Seattle_WA', 'mapreduce', 24, 0.024514811031664963),
 ('Seattle_WA', 'swift', 23, 0.02349336057201226),
 ('Seattle_WA', 'scala', 14, 0.014300306435137897),
 ('San-Francisco_CA', 'cassandra', 36, 0.036734693877551024),
 ('San-Francisco_CA', 'postgresql', 30, 0.030612244897959183),
 ('San-Francisco_CA', 'azure', 16, 0.0163265306122449),
 ('San-Francisco_CA', 'tableau', 14, 0.014285714285714285),
 ('San-Francisco_CA', 'pig', 10, 0.01020408163265306),
 ('Austin_TX', 'mongodb', 42, 0.04285714285714286),
 ('Austin_TX', 'hive', 22, 0.022448979591836733),
 ('Austin_TX', 'elasticsearch', 13, 0.013265306122448979),
 ('Austin_TX', 'groovy', 11, 0.011224489795918367),
 ('Austin_TX', 'django', 9, 0.009183673469387756),
 ('San-Jose_CA', 'matlab', 24, 0.024514811031664963),
 ('San-Jose_CA', 'arrays', 6, 0.006128702757916241),
 ('San-Jose_CA', 'lamp', 6, 0.006128702757916241),
 ('San-Jose_CA', 'zookeeper', 6, 0.006128702757916241),
 ('San-Jose_CA', 'fortran', 3, 0.0030643513789581204),
 ('Raleigh_NC', 'wordpress', 9, 0.009183673469387756),
 ('Raleigh_NC', 'typescript', 5, 0.00510204081632653),
 ('Raleigh_NC', 'vba', 4, 0.004081632653061225),
 ('Raleigh_NC', 'flume', 4, 0.004081632653061225),
 ('Raleigh_NC', 'string', 3, 0.003061224489795918),
 ('Houston_TX', 'delphi', 10, 0.010256410256410256),
 ('Houston_TX', 'coldfusion', 9, 0.009230769230769232),
 ('Houston_TX', 'abap', 8, 0.008205128205128205),
 ('Houston_TX', 'elm', 2, 0.0020512820512820513),
 ('Houston_TX', 'd3', 2, 0.0020512820512820513),
 ('Portland_OR', 'spss', 16, 0.0163265306122449),
 ('Portland_OR', 'elixir', 7, 0.007142857142857143),
 ('Portland_OR', 'coffeescript', 4, 0.004081632653061225),
 ('Portland_OR', 'haskell', 3, 0.003061224489795918),
 ('Portland_OR', 'kotlin', 3, 0.003061224489795918),
 ('Atlanta_GA', 'clojure', 8, 0.00819672131147541),
 ('Atlanta_GA', 'oozie', 2, 0.0020491803278688526),
 ('Atlanta_GA', 'lua', 1, 0.0010245901639344263),
 ('Atlanta_GA', 'erlang', 1, 0.0010245901639344263),
 ('Atlanta_GA', 'c#', 0, 0.0),
 ('San-Diego_CA', 'mahout', 4, 0.004081632653061225),
 ('San-Diego_CA', 'regex', 1, 0.0010204081632653062),
 ('San-Diego_CA', 'cordova', 1, 0.0010204081632653062),
 ('San-Diego_CA', 'gae', 1, 0.0010204081632653062),
 ('San-Diego_CA', 'objective-c', 0, 0.0),
 ('Denver_CO', 'dart', 8, 0.008221993833504625),
 ('Denver_CO', 'shark', 2, 0.0020554984583761563),
 ('Denver_CO', 'sql server', 0, 0.0),
 ('Denver_CO', 'raspberry pi', 0, 0.0),
 ('Denver_CO', 'visual basic', 0, 0.0),
 ('Minneapolis_MN', 'f#', 0, 0.0),
 ('Minneapolis_MN', 'rust', 0, 0.0),
 ('Minneapolis_MN', 'windows phone', 0, 0.0),
 ('Minneapolis_MN', 'pl/sql', 0, 0.0),
 ('Minneapolis_MN', 'smalltalk', 0, 0.0)]